@layer base {
  :root,
  [data-theme='light'] {
    
    --background: #faf9ff;
    --foreground: #1f1635;

    
    --card: #ffffff;
    --border: #e7e0f5;
    --input: #f4f0ff;

   
    --primary: #7c3aed;
    --primary-foreground: #ffffff;


    --muted-primary: #ede9fe;
    --muted-foreground: #6b7280;

    /* Secondary Button */
    --secondary-button: #ddd6fe;
    --skeleton-base-color: #e1e1f1;
    --skeleton-highlight-color: #c5c5df;
  }

  /* ==========================
   Dark Theme
========================== */

  :root[data-theme='dark'] {
    
    --background: #0f0a19;
    --foreground: #f8f7ff;

  
    --card: #1b142b;
    --border: #35264f;
    --input: #241b39;

    --primary: #8b5cf6;
    --primary-foreground: #ffffff;

   
    --muted-primary: #2e1f4d;
    --muted-foreground: #b6b0c8;

    
    --secondary-button: #4c1d95;
    --skeleton-base-color: #424246;
    --skeleton-highlight-color: #5d5a70;
  }
}

@theme {
  /* Cores */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-card: var(--card);

  --color-border: var(--border);

  --color-muted-primary: var(--muted-primary);
  --color-muted-foreground: var(--muted-foreground);

  --color-secondary-button: var(--secondary-button);

  --color-input: var(--input);

  --color-skeleton-base: var(--skeleton-base-color);
  --color-skeleton-highlight: var(--skeleton-highlight-color);
}
