@layer base {
  :root,
  [data-theme='light'] {
    /* Backgrounds */
    --background: #faf9ff;
    --foreground: #1f1635;

    /* Cards */
    --card: #ffffff;
    --border: #e7e0f5;
    --input: #f4f0ff;

    /* Primary */
    --primary: #7c3aed;
    --primary-foreground: #ffffff;

    /* Muted */
    --muted-primary: #ede9fe;
    --muted-foreground: #6b7280;

    /* Secondary Button */
    --secondary-button: #ddd6fe;
  }

  /* ==========================
   Dark Theme
========================== */

  :root[data-theme='dark'] {
    /* Backgrounds */
    --background: #0f0a19;
    --foreground: #f8f7ff;

    /* Cards */
    --card: #1b142b;
    --border: #35264f;
    --input: #241b39;

    /* Primary */
    --primary: #8b5cf6;
    --primary-foreground: #ffffff;

    /* Muted */
    --muted-primary: #2e1f4d;
    --muted-foreground: #b6b0c8;

    /* Secondary Button */
    --secondary-button: #4c1d95;
  }
}

@theme {
  /* Cores */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-card: var(--card);

  --color-border: var(--border);

  --color-muted-primary: var(--muted-primary);
  --color-muted-foreground: var(--muted-foreground);

  --color-secondary-button: var(--secondary-button);

  --color-input: var(--input);
}
